Options -Indexes


#VQMOD_PROTECT

#VQMOD_PROTECT


RewriteEngine On

RewriteRule ^(manager|mods|install|uninstall)?$ lib/index.php?action=$1 [QSA,L]
RewriteRule ^([\w\d]+)/(install|uninstall)$ lib/index.php?controller=$1&action=$2 [QSA,L]